@mixin radiant-shadow {
	border: solid 1px var(--color-clicheblue);
	box-shadow: 0 0 3px 0 rgba(0, 0, 255, 0.5), inset 0 0 0 rgba(0, 0, 255, 0.2);
}

@mixin error-shadow {
	border: solid 1px var(--color-error);
	box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.5), inset 0 0 0 rgba(255, 0, 0, 0.2);
}

.panel {
	padding: 0 2em 2em 2em;
  
	&.video-details-panel {
	  	.video-details {
			display: grid;
			overflow-y: auto;
	  	}

		  .panel-header {
			//display: flex;
			font-size: 28px;
			text-transform: capitalize;
			//margin-bottom: 2em;
		}
  
	  	.video-player {
			overflow-y: hidden;
	  	}
  
	  	.form {
			display: flex;
			flex-direction: column;
			gap: 1.5em;
			height: 57vh;
			overflow-y: auto;

			.title {
				font-size: 19px;
    			font-weight: 400;
			}
	  	}
	}
  

	.textbox-container {
		border: solid 1.5px var(--primary-600);
		border-radius: 6px;
		padding: 1.1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		gap: 3px;
		font-size: 15px;

		&.focused {
			@include radiant-shadow;

			.input-title {
				color: var(--color-clicheblue);
			}
		}

		&.error {
			@include error-shadow;

			.input-title {
				color: var(--color-error);
			}
		}

		label {
			display: flex;
			align-items: center;
			gap: 10px;
			opacity: 0.7;
		}

		.textbox {
			color: var(--text-color);
			border: solid 1.5px var(--primary-600);
			width: 100%;
			box-shadow: var(--primary-600), 0.25 0 0 0 2px;
			transition-property: border-color, background-color, box-shadow;
			resize: none;
			border: none;
				
			&,
			&::placeholder {
				font-size: 18px;
			}
		}

		.char-count {
			position: absolute;
			bottom: 5px;
			right: 10px;
			opacity: .7;
		}
	}
  
  
	.video-card .heading {
		border-radius: 6px;
	}
	
  
	&.movingOutBackward {
	  transform: translateX(calc(var(--wizard-size) * -1));
	}
  
	&.movingOutFoward {
	  transform: translateX(var(--wizard-size));
	}
  
	&.movingIn {
	  transform: translateX(0);
	}
}
  
.video-details {
	.video-player {
	  	&.loading {
			position: relative;
	
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: var(--primary-500);
				animation: pulse 1.5s ease-in-out infinite;
				border-radius: 4px;
			}
	  	}
	}
}
  
@media (min-width: 600px) {
	.panel.video-details-panel {
	  	.video-details {
			grid-template-columns: 3fr 2fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 20px;
	  	}
	}
}
  
@media (max-width: 1100px) {
	.panel.video-details-panel {
	  	.video-details {
			grid-template-columns: 1fr;
	  	}
  
	  	.video-player {
			grid-row-start: 1;
	  	}
	}
  
	.panel {
	  	padding: 0;
	}
}
  

