.theme-switch {
	position: fixed;
	left: 3rem;
	bottom: 7rem;
	height: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	z-index: 5;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.274);

	&:not(.open) {
		animation: beat 3s ease-out infinite;
	}

	.switch {
		width: 100%;
		height: 100%;
		display: grid;
		place-content: center;
		font-size: 1.5rem;
		color: white;
		cursor: pointer;
		position: relative;
		z-index: 2;
		background-color: var(--primary-600);
		border-radius: 50%;
		transition: transform 0.3s ease-out;
	}

	.themes {
		height: 100%;
		background-color: var(--primary-600);
		position: absolute;
		top: 0;
		left: 50%;
		border-radius: 0vmax 100vmax 100vmax 0;
		z-index: 1;
		padding: 0.6rem;
		gap: 0.5rem;
		display: flex;
		overflow: hidden;
		pointer-events: none;
		max-width: 0;
		transition: max-width 0.3s ease-out;

		& > div {
			height: 100%;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: white;
			color: var(--primary-400);
			border: 1px solid rgba(255, 255, 255, 0.473);
			cursor: pointer;
			position: relative;
			isolation: isolate;

			&:first-of-type {
				margin-left: 1rem;
			}

			&:hover .tooltip {
				opacity: 1;
			}

			.tooltip {
				position: absolute;
				background-color: white;
				width: max-content;
				padding: 0.2rem 1rem;
				border-radius: 0.2rem;
				pointer-events: none;
				opacity: 0;
				top: 0;
				left: 50%;
				transform: translate(-50%, -170%);
				transition: opacity 0.2s ease-in;

				&::before {
					position: absolute;
					content: "";
					bottom: 0;
					left: 50%;
					border: 10px solid transparent;
					border-top-color: white;
					transform: translate(-50%, 90%);
				}
			}
		}

		&.open {
			max-width: 300px;
			pointer-events: all;
			overflow: visible;
		}
	}

	&.open .switch {
		transform: rotate(90deg);
	}

	@media (max-width: 800px) {
		.container > & {
			display: none;
		}

		& {
			position: absolute;
			right: 1rem;
			left: initial;
			bottom: 2rem;
		}

		.themes {
			left: initial;
			right: 50%;
			border-radius: 100vmax 0 0 100vmax;
		}

		&.open .switch {
			transform: rotate(-90deg);
		}

		.themes > div {
			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 1rem;
			}
		}
	}
}

@keyframes beat {
	50% { transform: scale(1.2) }
}
